general:
  use_mock: false
  dry_run: true

broker:
  client_secret: "860e21eab5b9e76f1bdfb83800bea59f860f5ebd"  # dummy value
  refresh_token: "eyJhbGciOiJFZERTQSIsInR5cCI6InJ0K2p3dCIsImtpZCI6Imlra1NGclFCRFNlZFBOX3lVTU4wZURlWUNGNEhNWTZsYTBtb3RBenVZUzAiLCJqa3UiOiJodHRwOi8vaW5ncmVzcy1uZ2lueC1leHRlcm5hbC1jb250cm9sbGVyLWV4dGVybmFsLmluZ3Jlc3Mtbmdpbnguc3ZjL29hdXRoL2p3a3MifQ.eyJpc3MiOiJodHRwczovL2FwaS5jZXJ0LnRhc3R5d29ya3MuY29tIiwic3ViIjoiVWI4OGE1ZjY5LThiODYtNDU4Mi04ZGFmLWUxYzgyOWY3YTM5MiIsImlhdCI6MTc2NzExMjY3OCwiYXVkIjoiNThmM2UyYzAtMzM3ZS00MDNjLWJiMDQtMTRjNjQ2OTJjNjA5IiwiZ3JhbnRfaWQiOiJHNzI5NGRhYWEtZGYwNC00YWQzLThmZjQtYjk3OWIzODVmM2QxIiwia2lkIjoiaWtrU0ZyUUJEU2VkUE5feVVNTjBlRGVZQ0Y0SE1ZNmxhMG1vdEF6dVlTMCIsInNjb3BlIjoicmVhZCB0cmFkZSBvcGVuaWQifQ.xNd8hV8KHs5iu2LDyCsypNkEHlwWqgrUbQAs2b8jM7OKYsD8dI4jOkL7iNEjuBQnUEMnvh_yQV4QrfkSG6wWAQ"
  username: 860e21eab5b9e76f1bdfb83800bea59f860f5ebd
  password: "eyJhbGciOiJFZERTQSIsInR5cCI6InJ0K2p3dCIsImtpZCI6Imlra1NGclFCRFNlZFBOX3lVTU4wZURlWUNGNEhNWTZsYTBtb3RBenVZUzAiLCJqa3UiOiJodHRwOi8vaW5ncmVzcy1uZ2lueC1leHRlcm5hbC1jb250cm9sbGVyLWV4dGVybmFsLmluZ3Jlc3Mtbmdpbnguc3ZjL29hdXRoL2p3a3MifQ.eyJpc3MiOiJodHRwczovL2FwaS5jZXJ0LnRhc3R5d29ya3MuY29tIiwic3ViIjoiVWI4OGE1ZjY5LThiODYtNDU4Mi04ZGFmLWUxYzgyOWY3YTM5MiIsImlhdCI6MTc2NzExMjY3OCwiYXVkIjoiNThmM2UyYzAtMzM3ZS00MDNjLWJiMDQtMTRjNjQ2OTJjNjA5IiwiZ3JhbnRfaWQiOiJHNzI5NGRhYWEtZGYwNC00YWQzLThmZjQtYjk3OWIzODVmM2QxIiwia2lkIjoiaWtrU0ZyUUJEU2VkUE5feVVNTjBlRGVZQ0Y0SE1ZNmxhMG1vdEF6dVlTMCIsInNjb3BlIjoicmVhZCB0cmFkZSBvcGVuaWQifQ.xNd8hV8KHs5iu2LDyCsypNkEHlwWqgrUbQAs2b8jM7OKYsD8dI4jOkL7iNEjuBQnUEMnvh_yQV4QrfkSG6wWAQ"  # password: "dummy_password"
  environment: "paper"
  default_account_id: ""

data:
  use_broker_api: true  # true = fetch from broker; false = use Python calc/storage
  storage_file: "data_storage.json"  # Cache file

risk:
  max_risk_per_trade: 0.01
  max_portfolio_risk: 0.1  # revert back to 0.1

strategies:
  short_put:
    min_iv: 30
    max_delta: 0.25
    target_profit: 60
    max_loss: 120
    dry_run: true

sheets: {}