# Environment
.env
*.env
*.env.*
.venv/
/trading_bot/.env
service_account.json
/trading_bot/__pycache__
/trading_bot/__pycache__/
/trading_bot/tests/__pycache__
/trading_bot/tests/__pycache__/
/trading_bot/market_data/__pycache__/
/trading_bot/market_data/__pycache__
/trading_bot/brokers/__pycache__/
/trading_bot/brokers/__pycache__
/trading_bot/utils/__pycache__/
/trading_bot/utils/__pycache__