general:
  use_mock: true
  dry_run: true

broker:
  username: "dummy@example.com"
  password: "dummy_password"
  environment: "paper"
  default_account_id: ""

risk:
  max_risk_per_trade: 0.01
  max_portfolio_risk: 2.0  # revert back to 0.1

strategies:
  short_put:
    min_iv: 30
    max_delta: 0.25
    target_profit: 60
    max_loss: 120
    dry_run: true

sheets: {}